<div class="bg-white rounded-lg shadow-lg ">
    <div class="space-y-2">
        <!-- Change Password -->
        <button (click)="changePassword()"
            class="flex items-center justify-between bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-200">
            <span>Change Password</span>
            <mat-icon>lock</mat-icon>
        </button>

        <!-- Logout button -->
        <button (click)="logout()"
            class="flex items-center justify-between bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600 transition duration-200">
            <span>Logout</span>
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</div>